.antrian-item-container {
  height: 700px;
}
.antrian-item {
  background-color: #f5f5f5;
  border-radius: 30px;
}
.data-pasien .left{
  display: inline-block;
  min-width: 130px;
}
.data-pasien .right{
  margin-left: 20px;
}
